// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


:root {
    --blue-light: #F8F9FD;
    --gray-solid: #F0F0F0;
    --primary: #843468;
    --success: #59A591;
    --danger: #DF3D54;
    --warning: #ffa700;
}

body {
    font-family: "Roboto", sans-serif;
}

.h6 {
    font-size: 1rem;
}

.form-control {
    color: #000000 !important;
}

.btn-link {
    color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.vertical-align-middle {
    vertical-align: middle
}

.text-primary {
    color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: rgba(132, 52, 104, 0.88) !important;
    border-color: rgba(132, 52, 104, 0.88) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.bg-light-blue {
    background: rgba(56, 104, 142, 0.16) !important;
}

.bg-light-green {
    background: rgba(89, 165, 145, 0.16) !important;
}

.bg-light-red {
    background: rgba(255, 0, 0, 0.16) !important;
}

.bg-light-orange {
    background: #ffa70033 !important;
}

.flex-1 {
    flex: 1;
}

.table th, .table td {
    vertical-align: middle;
}

.text-danger {
    color: var(--danger) !important;
}

th span, th div {
    vertical-align: middle !important;
}

.white-space-nowrap {
    white-space: nowrap;
}

a {
    color: #38688E
}

.extra-size {
    font-size: 5rem;
}

.btn-success {
    background-color: #59A591;
    border-color: #59A591;
}

.alert-danger {
    color: #761b18;
    background-color: #fff;
    border-color: #DF3D54;
    border-width: 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

.alert-success {
    background-color: #fff;
    border-color: #59A591;
    border-width: 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

.alert-warning {
    background-color: #fff;
    border-color: #E68E31;
    border-width: 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

select.form-control {
    height: 40px;
    border-color: #E2E2E2;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    font-size: 16px !important;
    background: url(/images/arrow_select.png) 97% 50% no-repeat;
}

.form-input {
    height: 40px;
}

.btn-white {
    background-color: #fff;
    border-color: #fff;
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    outline: none !important;
    color: #fff !important;
    font-weight: 500 !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle,
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    border-left-color: var(--primary) !important;
    box-shadow: none !important;
}

.badge-primary {
    background-color: var(--primary) !important;;
}

.colorLabel input[type="radio"]:checked + label {
    color: #fff !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    border-left-color: var(--primary) !important;
    box-shadow: none !important;
}

.button-danger-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    /* Error */
    color: #DF3D54;
}


.delete-button {
    margin-left: 10px;
}
