@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*NPM RUN DEV reverts CSS file to original file state*/

.bg-page{
    background: #843468;
}
.bg-header{
    background: #250D1E;
}
.pb-max{
    margin-bottom: 200px;
}
.frame {
    position: relative;
}
.scan-frame {
    position: relative;
    /*z-index: 1;*/
    padding-left: 0;
}
.orders-frame {
    position: relative;
    /*z-index: 1;*/
    padding-right: 0;
}
.border-2 {
    border-width: 2px !important;
}
.div-focus:focus-within {
    border-color: var(--primary) !important;
}
.div-focus.border-danger:focus-within {
    border-color: var(--danger) !important;
}
.border-width-2{
     border-width: 2px !important;
}
.border-width-3{
    border-width: 3px !important;
    border-color: red !important;
}
.font-weight-semi-bold{
    font-weight: 500 !important;
}
.rounded-large {
  border-radius: 1rem !important;
}
.rounded-lg {
  border-radius: 0.5rem !important;
}
.question-mark{
    width: 25px;
    height: 25px;
    line-height: 20px;
}
nav{
    z-index: 99;
}
.text-blue{
    color:  var(--blue);
}
.text-indigo{
    color:  var(--indigo);
}
.bg-blue-light{
    background: var(--blue-light)
}
.table-striped tbody tr:nth-of-type(2n) {
  background-color: var(--blue-light);
}
.table-striped tbody tr.bg-striped {
  background-color: var(--blue-light) !important;
}
.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #fff;
}
.border-gray-color{
    border-color: var(--gray-solid);
}
input[placeholder='Search for ID']{
  display: block;
  padding: 9px 4px 9px 40px;
  border-radius: 0.5rem !important;
  background: url('/images/search.png') no-repeat 10px 50%;
}
input[placeholder='inactif']{
    display: none;
}

.filter-desc,
.filter-asc{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 13px !important;
    height: 7px !important;
    background: url('/images/desc.png') no-repeat 0 0;
    border: 0 !important;
}
.filter-asc{
     background: url('/images/asc.png') no-repeat 0 0;
}
.filter-desc.active-filter-desc, .active-filter-asc{

    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
/*Pagination*/
.page-link {
  color: var(--primary);
  padding: 0;
  border: 1px solid #dee2e6;
  font-size: 16px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;

}
.page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
}
.pagination-next-nav, .pagination-prev-nav {
  width: 56px;
  text-align: center;
}
.pagination-next-nav{
    margin-left: 15px;
}
.pagination-prev-nav{
    margin-right: 15px;
}
.pagination-next-nav a,
.pagination-prev-nav a{
    background: url('/images/next.png') center center no-repeat;
    background-size: 25%;
    width: 100%;
    border-radius: 10px !important;
    background-color: #f8f9fa !important;
}
.pagination-prev-nav a{
    background-image: url('/images/preview.png');
}
.pagination-page-nav{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.footer {
    height: 40px;
    line-height: 40px;
    border-top-color: var(--secondary) !important;
    background-color: var(--primary);
  }
/*.pagination > .pagination-page-nav.page-item:nth-last-child(-n+1) a{
    background: red !important;
    border-radius: 0 5px 5px 0 !important;
}*/
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*loading dots*/
 .jumping-dots-loader span {
     display: inline-block;
     width: 15px;
     height: 15px;
     border-radius: 100%;
     background-color: var(--primary);
     margin: 35px 5px
 }

 .jumping-dots-loader.loading span:nth-child(1) {
     animation: bounce 1s ease-in-out infinite
 }

 .jumping-dots-loader.loading span:nth-child(2) {
     animation: bounce 1s ease-in-out 0.33s infinite
 }

 .jumping-dots-loader.loading span:nth-child(3) {
     animation: bounce 1s ease-in-out 0.66s infinite
 }
 .w-200{
    width: 200px;
 }

 @keyframes bounce {

     0%,
     75%,
     100% {
         -webkit-transform: translateY(0);
         -ms-transform: translateY(0);
         -o-transform: translateY(0);
         transform: translateY(0)
     }

     25% {
         -webkit-transform: translateY(-20px);
         -ms-transform: translateY(-20px);
         -o-transform: translateY(-20px);
         transform: translateY(-20px)
     }
 }

/* The container */
.newInput {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.newInput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #777;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.newInput:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.newInput input:checked ~ .checkmark {
  background-color: var(--primary) !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.newInput input:checked ~ .checkmark:after {
  display: block;
}

.newInput input:checked ~ .checkmark {
  border-color: var(--primary) !important;
}
.newInput input[disabled='disabled'] ~ .checkmark {
    opacity: 0.5;
}
/* Style the checkmark/indicator */
.newInput .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mx-datepicker{
    width: 100% !important;
}
.mx-datepicker input, .time-picker input{
    outline: none;
    margin-left: 10px;
}
.mx-calendar-content .cell.active {
  border-radius: 8px;
  background-color: var(--primary) !important;
}
.mx-table-date .today {
  color: var(--primary) !important;
  font-weight: bold;
}
.mx-icon-calendar, .mx-icon-clear{
    color: var(--primary) !important;
    font-size: 20px !important;
}
 .time-picker input{
    height:  40px !important;
 }
 .vue__time-picker{
    width: 100% !important;
 }
 .cursor-pointer{
    cursor: pointer
 }
 .ertical-align-middle{
    vertical-align:  middle;
 }
 /* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  left: 31px;
}

/* Container around content */
.container-time {
  position: relative;
  background-color: inherit;
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

/* The circles on the timeline */
.container-time::after {
  content: ' ';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--primary);
  top: 10px;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  line-height: 15px
}

.container-time.isChecked::after {
    font-family: 'Material Icons';
    content: "done";
}

/* Place the container to the right */
.time-right {
  left: 0px
}


/* Add arrows to the right container (pointing left) */
.time-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 12px;
  width: 0;
  z-index: 1;
  left: 0%;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.time-right::after {
  left: 20px;
}

/* The actual content */
.content-timer {
  padding: 10px 15px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  margin-bottom: 15px
}

  /* Make sure that all arrows are pointing leftwards */
  .container-time::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f8f9fa transparent transparent;
  }

.number-quote{
    right: 0;
    top: -8px !important;
}
.pagination-control .pagination{
    position: absolute;
    right: 0
}

.laravel-vue-datatable-th {
  display: table-cell !important;
  white-space: nowrap;
}
.table thead th {
  border-bottom: 2px solid #dee2e6 !important;
}
