<template>
    <div class="col-md-12">
        <form @submit.prevent="updateDriver">
            <div class="container-fluid bg-light py-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="h2">#{{ driver.name }}</div>
                    </div>
                </div>
            </div>

            <div class="container-fluid bg-light py-3">
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                     :class="driver.name=='' && isSubmit? 'border-danger':''">
                                    <input type="text" autocomplete="none" required
                                           class="form-control border-0 py-0 shadow-none form-input"
                                           placeholder="Driver name"
                                           v-model="driver.name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                     :class="driver.type=='' && isSubmit? 'border-danger':''">
                                    <select required class="form-control border-0 py-0 shadow-none pr-5"
                                            v-model="driver.type">
                                        <option value='1'>Employee</option>
                                        <option value='2'>External driver</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                     :class="driver.optimoroute_driver_id=='' && isSubmit? 'border-danger':''">
                                    <input type="text" autocomplete="none"
                                           class="form-control border-0 py-0 shadow-none form-input"
                                           placeholder="OptimoRoute Id"
                                           v-model="driver.optimoroute_driver_id">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                     :class="driver.phone=='' && isSubmit? 'border-danger':''">
                                    <input type="text" autocomplete="none"
                                           class="form-control border-0 py-0 shadow-none form-input"
                                           placeholder="Phone"
                                           v-model="driver.phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" @click="validation()">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>

        </form>

        <br/>

        <a href="/drivers" title="Back" class="text-decoration-none">
            <button class="btn default btn-sm d-flex align-items-center">
                <span class="material-icons-outlined cursor-pointer text-primary">arrow_back</span>
                <span class="pl-1">Back</span>
            </button>
        </a>
    </div>
</template>
<script>
export default {
    name: "DriverEdit",
    props: {
        url: {type: String, required: true}
    },
    data() {
        return {
            driver: {},
            warehouses: {},
            isSubmit: false
        }
    },
    methods: {
        validation() {
            this.isSubmit = true;
        },
        updateDriver() {
            axios.patch(`/drivers/${this.driver.id}`, this.driver).then((response) => {
                window.location.href = '/drivers';
            }).catch(err => console.log(err))
        },
        fetchData() {
            let dataFetchUrl = `${this.url}`
            axios.get(dataFetchUrl)
                .then(({data}) => {
                    this.driver = data;
                }).catch();
        },
    },
    created() {
        return this.fetchData()
    },
}
</script>
