<template>
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="h2">Move goods</div>
            <div class="flash-message">
                <FlashMessage :position="'top'"></FlashMessage>
            </div>

            <div v-if="scanLocationError!==''" class="scan alert alert-danger">
                <i>{{ scanLocationError }}</i>
            </div>
            <div v-if="showBarcodeResult">
                <div v-if="scanCodeError!==''" class="scan alert alert-danger">
                    <i>{{ scanCodeError }}</i>
                </div>
                <div v-else-if="scanCodeSuccess!==''" class="scan alert alert-success">
                    <i>{{ scanCodeSuccess }}</i>
                </div>
            </div>

            <div class="form-group">
                <div
                    class="d-flex align-items-center">
                    <div class="bg-white border rounded-lg div-focus border-2">
                        <input type="text"
                               autocomplete="none"
                               class="form-control border-0  shadow-none form-input scan-code"
                               placeholder="Scan colli"
                               @input="onScanBarcode($event,0)"
                               ref="scanCode">
                    </div>
                </div>
            </div>

            <div v-if="scanCodeSuccess!==''">
                <div v-if="scanLocationSuccess===''">
                    <div class="form-group">
                        <div
                            class="d-flex align-items-center">
                            <form @submit.prevent="onScanLocation">
                                <div class="bg-white border rounded-lg div-focus border-2">
                                    <input type="text"
                                           ref="email"
                                           autofocus
                                           autocomplete="none"
                                           v-model="locationName"
                                           class="form-control border-0 shadow-none form-input scan-location"
                                           placeholder="Scan location"
                                    >
                                </div>
                                <br/>
                                <!--                                <div>
                                                                    <button class="btn btn-primary mr-3">
                                                                        Move
                                                                    </button>
                                                                </div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-3">
                <div class="table-responsive">
                    <table v-if="collis.length>0" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="border-right text-left">Colli</th>
                            <th class="border-right text-left">Client</th>
                            <th class="border-right text-left"></th>
                        </tr>
                        </thead>
                        <tbody class="table-bordered">
                        <tr v-for="(colli,k) in collis">
                            <td>{{ colli.id }}</td>
                            <td> {{ colli.client.name }}</td>
                            <td> {{ colli.client.name }}</td>
                            <td class="text-center" style="width: 1%">
                                <div class="btn float-center btn-default btn-sm"
                                     @click="deleteColli(k)">
                                    <div class="material-icons-outlined cursor-pointer text-primary"
                                         title="delete colli from list">delete
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
export default {
    name: "ReceiveGoods",
    data() {
        return {
            isSubmit: false,
            colli: {},
            collis: [],
            scanCodeError: '',
            scanCodeSuccess: '',
            scanLocationError: '',
            scanLocationSuccess: '',
            showBarcodeResult: true,
            code: '',
            codes: [],
            locationName: '',
            loadingColli: false
        }
    },
    methods: {
        onScanBarcode(event, scanAfterLocation) {
            setTimeout(() => {
                if (scanAfterLocation === 0) {
                    this.code = event.target.value;
                } else {
                    this.code = event;
                }
                if (this.code) {
                    var checkColliExists = this.codes.includes(parseInt(this.code));
                    if (checkColliExists) {
                        this.scanCodeError = ' colli already scanned';
                        this.scanCodeSuccess = '';
                        this.showBarcodeResult = true;
                        let audio = new Audio('/assets/beep-warning-6387.mp3');
                        audio.play();
                        this.$refs.scanCode.value = '';
                    } else {
                        if (!this.loadingColli) {
                            this.loadingColli = true;
                            axios.get(`/scan-barcode/${this.code}/0`)
                                .then(({data}) => {
                                    console.log(data);
                                    if (data.message === 'not found') {
                                        this.scanCodeError = ' Colli could not be found';
                                        this.scanCodeSuccess = '';
                                        this.showBarcodeResult = true;
                                        let audio = new Audio('/assets/beep-warning-6387.mp3');
                                        audio.play();
                                    } else {
                                        var checkColliExists = this.codes.includes(data.data.id);
                                        if (!checkColliExists) {
                                            this.collis.push(data.data);
                                            this.colli = data.data;
                                            this.codes.push(parseInt(this.code));
                                        }
                                        this.scanCodeError = '';
                                        this.scanCodeSuccess = `${data.data.id} added`;
                                        this.$refs.scanCode.value = '';
                                    }
                                    this.loadingColli = false;
                                }).catch();
                        }
                    }
                }
            }, 1000);
        },
        onScanLocation(event) {
            if (this.locationName !== '') {
                axios.post(`/scan-location/${this.locationName}/${this.code}`, this.codes)
                    .then(({data}) => {
                        if (data.colli != null) {
                            this.onScanBarcode(data.colli, 1);
                        } else if (data.location != null) {
                            this.showBarcodeResult = false;
                            this.scanLocationError = '';
                            this.scanLocationSuccess = `colli moved to ${data.location.name}`;
                            this.flashMessage.success({
                                title: '',
                                message: `colli moved to ${data.location.name}`,
                                time: 2000,
                                blockClass: 'flash-message'
                            });
                            this.$nextTick(() => {
                                this.$refs.scanCode.focus();
                            });
                            this.scanCodeError = '';
                            this.scanCodeSuccess = '';
                            this.scanLocationError = '';
                            this.scanLocationSuccess = '';
                            this.showBarcodeResult = true;
                            this.code = '';
                            this.codes = [];
                            this.collis = [];
                        } else if (data.message != null) {
                            //this.scanLocationError = 'Colli or location could not be found';
                            this.scanCodeSuccess = '';
                            this.scanCodeError = 'Colli or location could not be found';
                        }
                    }).catch();
                this.locationName = '';
            }
        },
        deleteColli(k) {
            this.collis = this.collis.filter((x, i) => i !== k);
            this.codes = this.codes.filter((x, i) => i !== k);
        },
    },
    mounted() {
        this.$nextTick(() => {
            this.$refs.scanCode.focus();
        });
    },
}
</script>

<style>
.scan-error {
    color: red;
}

.scan {
    margin-top: 10px;
    margin-left: 10px;
}
</style>
