<template>
    <div class="col-md-12">
        <div class="h2">Products and services</div>
        <div class="flash-message">
            <FlashMessage :position="'top'"></FlashMessage>
        </div>

        <br/>
        <form @submit.prevent="updateProduct">
            <div class="p-4 mb-0 bg-white rounded-lg mb-4">
                <div class="h3">Products</div>
                <div class="float-right">
                            <span class="material-icons-outlined cursor-pointer text-primary"
                                  @click="isEditingProduct = !isEditingProduct" v-if="!isEditingProduct"
                                  title="edit">edit</span>

                    <button class="btn btn-primary mr-3"
                            v-else-if="isEditingProduct" @click="validation()">
                        Save
                    </button>

                    <a href="#" ref="cancelEditing" v-if="isEditingProduct" @click="isEditingProduct = false">Cancel</a>
                </div>
                <br/>
                <div class="pt-3">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="border-right text-left">
                                    Name
                                </th>
                                <th class="border-right text-center">
                                    Description
                                </th>
                                <th class="border-right text-center">
                                    Type
                                </th>
                                <th class="border-right text-center">
                                    Price type
                                </th>
                                <th class="border-right text-center">
                                    Duration
                                </th>
                                <th v-if="isEditingProduct">

                                </th>
                            </tr>
                            </thead>
                            <tbody class="table-bordered">
                            <tr v-for="product in products">
                                <td class="text-center" style="width: 15%">
                                    <div class="form-group">
                                        <div
                                            :class="{'d-flex align-items-left bg-white border rounded-lg div-focus border-2':isEditingProduct, 'border-danger': product.name==='' && isSubmit}">
                                            <input type="text"
                                                   autocomplete="none"
                                                   class="form-control text-left border-0 py-0 shadow-none form-input"
                                                   v-model="product.name"
                                                   ref="product.name"
                                                   :disabled="!isEditingProduct"
                                                   :class="{view: !isEditingProduct}"
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" style="width: 15%">
                                    <div class="form-group">
                                        <br/>
                                        <div
                                            :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingProduct, 'border-danger': product.description==='' && isSubmit}">
                                        <textarea
                                            class="form-control text-center border-0 py-0 shadow-none form-input"
                                            v-model="product.description"
                                            ref="product.description"
                                            :disabled="!isEditingProduct"
                                            :class="{view: !isEditingProduct}"
                                        >
                                        </textarea>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" style="width: 15%">
                                    <div v-if="!isEditingProduct">
                                        {{ product.type_readable }}
                                    </div>
                                    <div v-if="isEditingProduct">
                                        <div
                                            :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingProduct, 'border-danger': product.type==='' && isSubmit}">
                                            <select
                                                class="form-control text-center border-0 py-0 shadow-none form-input"
                                                v-model="product.type"
                                                ref="product.type"
                                                :disabled="!isEditingProduct"
                                                :class="{view: !isEditingProduct}"
                                            >
                                                <option value="1">Product</option>
                                                <option value="2">Hourly product</option>
                                                <option value="3">Warehouse product</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" style="width: 15%">
                                    <div v-if="!isEditingProduct">
                                        {{ product.price_type_readable }}
                                    </div>
                                    <div v-if="isEditingProduct">
                                        <div
                                            :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingProduct, 'border-danger': product.price_type==='' && isSubmit}">
                                            <select class="form-control text-center border-0 py-0 shadow-none pr-5"
                                                    v-model="product.price_type"
                                                    ref="product.price_type"
                                                    :disabled="!isEditingProduct"
                                            >
                                                <option value="1">One time</option>
                                                <option value="2">Hourly product</option>
                                                <option value="3">Daily product</option>
                                                <option value="4">Weekly product</option>
                                                <option value="5">Monthly product</option>
                                                <option value="6">Quarterly product</option>
                                                <option value="7">Yearly product</option>
                                            </select>
                                        </div>
                                    </div>

                                </td>
                                <td class="text-center" style="width: 15%">
                                    <div
                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingProduct, 'border-danger': product.duration==='' && isSubmit}">
                                        <input type="text" min="0"
                                               autocomplete="none"
                                               class="form-control text-center border-0 py-0 shadow-none form-input"
                                               v-model="product.duration"
                                               :disabled="!isEditingProduct"
                                               :class="{view: !isEditingProduct}"
                                        >
                                    </div>
                                </td>
                                <td v-if="isEditingProduct" class="text-center" style="width: 10%">
                                    <div class="btn float-center btn-default btn-sm"
                                         @click="deleteProduct(product.id)">
                                        <div class="material-icons-outlined cursor-pointer text-primary"
                                             title="delete product">delete
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="/products/create" class="btn btn-success d-inline-flex align-items-center"
                   @click="isEditingProduct = !isEditingProduct"
                   v-if="!isEditingProduct">
                    <span class="material-icons-outlined cursor-pointer text-white mr-2">add_circle_outline</span>
                    <span>Add product</span>
                </a>
            </div>
        </form>
        <br/>
        <br/>
        <form @submit.prevent="updateService">
            <div class="p-4 mb-0 bg-white rounded-lg" ref="services">
                <div class="h3">Services</div>
                <div class="">

                    <div class="">
                        <span class="container-services"></span>
                        <div class="float-right">

                             <span class="material-icons-outlined cursor-pointer text-primary"
                                   @click="scrollToService({behavior: 'smooth'},'container-services'); isEditingService = !isEditingService"
                                   v-if="!isEditingService"
                                   title="edit">edit</span>
                            <button class="btn btn-primary mr-3"
                                    v-else-if="isEditingService" @click="validationService()">
                                Save
                            </button>

                            <a href="#" ref="cancelEditing" v-if="isEditingService" @click="isEditingService = false">Cancel</a>
                        </div>
                    </div>
                    <br/>
                    <table class="table border ">
                        <thead>
                        <tr>
                            <th class="border-right text-left">
                                Name
                            </th>
                            <th class="border-right text-center">
                                Description
                            </th>
                            <th class="border-right text-center">
                                Type
                            </th>
                            <th class="border-right text-center">
                                Price type
                            </th>
                            <th class="border-right text-center">
                                Duration
                            </th>
                            <th v-if="isEditingService">

                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-bordered">
                        <tr v-for="service in services" v-if="service.id!==12 && service.deleted_at===null">
                            <td class="text-center" style="width: 15%">
                                <div class="form-group">
                                    <div
                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingService, 'border-danger': service.name=='' && isSubmitService}">
                                        <input type="text"
                                               autocomplete="none"
                                               class="form-control  text-left border-0 py-0 shadow-none form-input"
                                               v-model="service.name"
                                               ref="service.name"
                                               :disabled="!isEditingService"
                                               :class="{view: !isEditingService}"
                                        >
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" style="width: 15%">
                                <br/>
                                <div class="form-group">
                                    <div
                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingService, 'border-danger': service.description=='' && isSubmitService}">
                                            <textarea
                                                class="form-control text-center border-0 py-0 shadow-none form-input"
                                                v-model="service.description"
                                                ref="service.description"
                                                :disabled="!isEditingService"
                                                :class="{view: !isEditingService}"
                                            >
                                            </textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" style="width: 15%">
                                <div v-if="!isEditingService">
                                    {{ service.type_readable }}
                                </div>
                                <div v-if="isEditingService">
                                    <div
                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingService, 'border-danger': service.type=='' && isSubmitService}">
                                        <select class="form-control text-center border-0 py-0 shadow-none pr-5"
                                                v-model="service.type"
                                                :disabled="!isEditingService"
                                                :class="{view: !isEditingService}"
                                        >
                                            <option value="1">Service</option>
                                            <option value="2">Hourly service</option>
                                            <option value="3">Warehouse service</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" style="width: 15%">
                                <div v-if="!isEditingService">
                                    {{ service.price_type_readable }}
                                </div>
                                <div v-if="isEditingService">
                                    <div
                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingService, 'border-danger': service.price_type=='' && isSubmitService}">
                                        <select class="form-control text-center border-0 py-0 shadow-none pr-5"
                                                v-model="service.price_type"
                                                ref="service.price_type"
                                                :disabled="!isEditingService"
                                        >
                                            <option value="1">One time</option>
                                            <option value="2">Hourly product</option>
                                            <option value="3">Daily product</option>
                                            <option value="4">Weekly product</option>
                                            <option value="5">Monthly product</option>
                                            <option value="6">Quarterly product</option>
                                            <option value="7">Yearly product</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" style="width: 15%">
                                <div class="form-group">
                                    <div
                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingService, 'border-danger': service.duration=='' && isSubmitService}">
                                        <input type="number" min="0"
                                               autocomplete="none"
                                               class="form-control text-center border-0 py-0 shadow-none form-input"
                                               v-model="service.duration"
                                               ref="service.duration"
                                               :disabled="!isEditingService"
                                               :class="{view: !isEditingService}"
                                        >
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </td>
                            <td v-if="isEditingService" class="text-center" style="width: 10%">
                                <div class="btn float-center btn-default btn-sm"
                                     @click="text-primary(service.id)">
                                    <div class="material-icons-outlined cursor-pointer text-primary"
                                         title="delete product">delete
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="/services/create" class="btn btn-success d-inline-flex align-items-center"
                       @click="isEditingService = !isEditingService"
                       v-if="!isEditingService">
                        <span class="material-icons-outlined cursor-pointer text-white mr-2">add_circle_outline</span>
                        <span>Add service</span>
                    </a>

                </div>
            </div>
        </form>
        <br/>
        <br/>
        <form @submit.prevent="updatePrices">
            <div class="p-4 mb-0 bg-white rounded-lg" ref="services">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h3">Intervals and prices</div>
                    <a class="btn float-left btn-success d-inline-flex align-items-center" @click="toggleModal">
                        <span class="material-icons-outlined cursor-pointer text-white mr-2" title="add interval">add_circle_outline</span>
                        <span>Add new interval</span>
                    </a>
                </div>

                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex align-items-center bg-white border rounded-lg div-focus border-2">
                                    <select class="form-control border-0 py-0 shadow-none pr-5"
                                            v-model="intervals.price_type"
                                            @change="onChangePriceType($event)"
                                            ref="interval.price_type">
                                        <option value="1">Standard price</option>
                                        <option value="2">Minimum price</option>
                                        <option value="3">Cost price</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="h4 mb-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <strong class="white-space-nowrap">Intervals</strong>
                                    </div>
                                </div>
                                <table class="table border">
                                    <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th class="text-center" v-for="dimension in dimensions">
                                            <div v-if="dimension.id!==removeIntervalValue">
                                                <div
                                                    class="btn float-center btn-sm"
                                                    @click="removeIntervalColumn(dimension.id)">
                                                    <div class="material-icons-outlined text-danger cursor-pointer"
                                                         title="delete interval">remove_circle
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="dimension.id===removeIntervalValue">
                                                <a href="#" @click="cancelRemoveIntervalColumn">
                                                    cancel deleting
                                                </a>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-bordered">
                                    <tr>
                                        <td style="width: 20%">
                                            Max volume
                                        </td>
                                        <td class="text-center" style="width: 10%" v-for="dimension in dimensions">
                                            <div v-if="dimension.id!==removeIntervalValue">
                                                {{ dimension.max_volume|number }}cbm
                                            </div>
                                            <div v-if="dimension.id===removeIntervalValue">
                                                <span class="material-icons-outlined text-danger  cursor-pointer">remove_circle</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Max weight
                                        </td>
                                        <td class="text-center" v-for="dimension in dimensions">
                                            <div v-if="dimension.id!==removeIntervalValue">
                                                {{ dimension.max_weight|number }}kg
                                            </div>
                                            <div v-if="dimension.id===removeIntervalValue">
                                                <div
                                                    class="material-icons-outlined text-danger  cursor-pointer">
                                                    remove_circle
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br/>
                                <div class="h4 mb-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <strong class="white-space-nowrap">Products (ground price) </strong>
                                        <div v-if="removeInterval===false">
                                            <span class="product-price"></span>

                                            <span class="material-icons-outlined text-primary cursor-pointer"
                                                  @click="scrollToService({behavior: 'smooth'},'product-price');
                                                       isEditingProductPrice = !isEditingProductPrice"
                                                  v-if="!isEditingProductPrice"
                                                  title="edit">edit
                                            </span>

                                            <span ref="cancelEditing"
                                                  v-if="isEditingProductPrice"
                                                  @click="scrollToService({behavior: 'smooth'},'product-price');
                                                        isEditingProductPrice = false">
                                                        Cancel
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <table class="table border">
                                    <tbody class="table-bordered">
                                    <tr v-for="product in products">
                                        <td style="width:20%">
                                            {{ product.name }}
                                        </td>
                                        <td class="text-center" style="width:10%"
                                            v-for="(item, index) of product.prices">
                                            <div v-if="priceType==='2'">
                                                <div class="form-group">
                                                    <div
                                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingProductPrice}">
                                                        <input type="text"
                                                               autocomplete="none"
                                                               class="form-control text-center  border-0 py-0 shadow-none form-input"
                                                               v-model="item.minimum_price"
                                                               v-number
                                                               :disabled="!isEditingProductPrice"
                                                               :class="{view: !isEditingProductPrice}"
                                                               @input="handleProductPrice($event.target.value,item.interval_id,item.product_id)"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else-if="priceType==='3'">
                                                <div class="form-group">
                                                    <div
                                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingProductPrice}">
                                                        <input type="text"
                                                               autocomplete="none"
                                                               class="form-control text-center border-0 py-0 shadow-none form-input"
                                                               v-model="item.cost_price"
                                                               v-number
                                                               :disabled="!isEditingProductPrice"
                                                               :class="{view: !isEditingProductPrice}"
                                                               @input="handleProductPrice($event.target.value,item.interval_id,item.product_id)"

                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else>
                                                <div class="form-group">
                                                    <div
                                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingProductPrice}">
                                                        <input type="text"
                                                               class="form-control text-center border-0 py-0 shadow-none form-input"
                                                               autocomplete="none"
                                                               v-model="item.standard_price"
                                                               v-number
                                                               :disabled="!isEditingProductPrice"
                                                               :class="{view: !isEditingProductPrice}"
                                                               @input="handleProductPrice($event.target.value,item.interval_id,item.product_id)"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br/>
                                <div class="h4 mb-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <strong class="white-space-nowrap">Services (add-on fee) </strong>
                                        <span class="service-price"></span>
                                        <div v-if="removeInterval===false">
                                                    <span class="material-icons-outlined text-primary cursor-pointer"
                                                          @click="scrollToService({behavior: 'smooth'},'service-price'); isEditingServicePrice = !isEditingServicePrice"
                                                          v-if="!isEditingServicePrice"
                                                          title="edit">edit</span>

                                            <span
                                                ref="cancelEditing"
                                                v-if="isEditingServicePrice"
                                                @click="scrollToService({behavior: 'smooth'},'service-price');
                                                        isEditingServicePrice = false">
                                                        Cancel
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <table class="table border">
                                    <tbody class="table-bordered">
                                    <tr v-for="product in services" v-if="product.deleted_at===null">
                                        <td style="width: 20%">
                                            {{ product.name }}
                                        </td>
                                        <td style="width: 10%" v-for="(item, index) of product.prices">
                                            <div v-if="priceType==='2'">
                                                <div class="form-group">
                                                    <div
                                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingServicePrice}">
                                                        <input type="text"
                                                               class="form-control  text-center border-0 py-0 shadow-none form-input"
                                                               autocomplete="none"
                                                               v-model="item.minimum_price"
                                                               v-number
                                                               :disabled="!isEditingServicePrice"
                                                               :class="{view: !isEditingServicePrice}"
                                                               @input="handleServicePrice($event.target.value,item.interval_id,item.service_id)"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else-if="priceType==='3'">
                                                <div class="form-group">
                                                    <div
                                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingServicePrice}">
                                                        <input type="text"
                                                               class="form-control text-center border-0 py-0 shadow-none form-input"
                                                               autocomplete="none"
                                                               v-model="item.cost_price"
                                                               v-number
                                                               :disabled="!isEditingServicePrice"
                                                               :class="{view: !isEditingServicePrice}"
                                                               @input="handleServicePrice($event.target.value,item.interval_id,item.service_id)"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else>
                                                <div class="form-group">
                                                    <div
                                                        :class="{'d-flex align-items-center bg-white border rounded-lg div-focus border-2':isEditingServicePrice}">
                                                        <input type="text"
                                                               class="form-control text-center  border-0 py-0 shadow-none form-input"
                                                               v-model="item.standard_addon_price"
                                                               v-number
                                                               :disabled="!isEditingServicePrice"
                                                               :class="{view: !isEditingServicePrice}"
                                                               @input="handleServicePrice($event.target.value,item.interval_id,item.service_id)"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn float-left btn-success btn-lg">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <div
            ref="modal"
            class="modal fade"
            :class="{show, 'd-block': activeModalInterval}"
            tabindex="-1"
            role="dialog"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create new interval</h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            @click="toggleModal"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="addNewInterval">
                            <div class="form-group">
                                <div class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                     :class="newDimensions.max_volume=='' && isSubmitNew? 'border-danger':''">
                                    <input type="text"
                                           required
                                           autocomplete="none"
                                           class="form-control  border-0 py-0 shadow-none form-input"
                                           placeholder="Max volume"
                                           v-model="newDimensions.max_volume"
                                           ref="newDimensions.volume"
                                    >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                     :class="newDimensions.weight=='' && isSubmitNew? 'border-danger':''">
                                    <input type="text"
                                           required
                                           autocomplete="none"
                                           class="form-control  border-0 py-0 shadow-none form-input"
                                           placeholder="Max weight"
                                           v-model="newDimensions.max_weight"
                                           ref="newDimensions.weight"
                                    >
                                </div>
                            </div>

                            <button class="btn btn-primary" @click="validationNew()">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="activeModalInterval" class="modal-backdrop fade show"></div>
    </div>
</template>

<script>
export default {
    name: "ProductDataTable",
    data() {
        return {
            items: [],
            products: {},
            services: {},
            activeModalInterval: false,
            show: false,
            isEditingProduct: false,
            isEditingService: false,
            isEditingProductPrice: false,
            isEditingServicePrice: false,
            intervals: {'price_type': 1},
            removeInterval: false,
            removeIntervalValue: '',
            priceType: 1,
            productPrices: [{price: '', price_type: '', interval_id: '', service_id: '', product_id: ''}],
            price: {},
            newDimensions: {},
            dimensions: {},
            isSubmit: false,
            isSubmitService: false,
        }
    },
    methods: {
        fetchData() {
            axios.get('/product-list/0')
                .then(({data}) => {
                    this.products = data.data;
                }).catch(error => this.products = []);
            axios.get('/service-list/0')
                .then(({data}) => {
                    this.services = data.data;
                }).catch(error => this.services = [])
            axios.get('/intervals-list/0')
                .then(({data}) => {
                    this.dimensions = data.data;
                }).catch(error => this.dimensions = [])
        },
        validationNew() {
            this.isSubmitNew = true;
        },
        validation() {
            this.isSubmit = true;
        },
        validationService() {
            this.isSubmitService = true;
        },
        handleServicePrice(value, interval_id, service_id) {
            this.productPrices.push({
                price: value,
                price_type: this.priceType,
                interval_id: interval_id,
                service_id: service_id,
            });
        },
        handleProductPrice(value, interval_id, product_id) {
            this.productPrices.push({
                price: value,
                price_type: this.priceType,
                interval_id: interval_id,
                product_id: product_id,
            });
        },
        updateProduct() {
            axios.patch(`/products`, this.products).then((response) => {
                this.$refs.cancelEditing.click();
                window.location.href = `/products`;
                //this.flashMessage.success({title: '', message: 'Products updated!'});
            }).catch(err => console.log(err))
        },
        updateService() {
            axios.patch(`/services`, this.services).then((response) => {
                this.$refs.cancelEditing.click();
                window.location.href = `/products`;
            }).catch(err => console.log(err))
        },
        updatePrices() {
            if (this.removeIntervalValue > 0) {
                axios.delete(`/interval/${this.removeIntervalValue}/0`).then((response) => {
                    window.location.href = `/products`;
                }).catch(err => console.log(err))
            } else {
                axios.patch(`/save-prices`, this.productPrices).then((response) => {
                    this.$refs.cancelEditing.click();
                    window.location.href = `/products`;
                }).catch(err => console.log(err))
            }
        },
        addNewInterval: function () {
            axios.post(`/new-interval/0`, this.newDimensions).then((response) => {
                if (response.data.result === 'error') {
                    alert(response.data.message);
                } else {
                    window.location.href = `/products`;
                }
            }).catch(err => console.log(err))
        },
        removeIntervalColumn: function (value) {
            this.removeInterval = true;
            this.removeIntervalValue = value;
        },
        cancelRemoveIntervalColumn: function (value) {
            this.removeInterval = false;
            this.removeIntervalValue = '';
        },
        toggleModal() {
            const body = document.querySelector("body");
            this.activeModalInterval = !this.activeModalInterval;
            this.activeModalInterval
                ? body.classList.add("modal-open")
                : body.classList.remove("modal-open");
            setTimeout(() => (this.show = !this.show), 10);
        },
        onChangePriceType(event) {
            this.priceType = event.target.value;
        },
        deleteProduct(value) {
            axios.delete(`/products/${value}`).then((response) => {
                window.location.href = `/products`;
            }).catch(err => console.log(err))
        },
        deleteService(value) {
            axios.delete(`/services/${value}`).then((response) => {
                window.location.href = `/products`;
            }).catch(err => console.log(err))
        },
        scrollToService(options, elementToScroll) {
            const el = this.$el.getElementsByClassName(elementToScroll)[0];
            if (el) {
                el.scrollIntoView(options);
            }
        },
    },
    created() {
        return this.fetchData()
    },
    filters: {
        number: function (value) {
            return value.toLocaleString('da-DK');
        }
    },
}

</script>

<style>

.view {
    border-color: transparent;
    background-color: initial;
    color: initial
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    /*f8fafc*/
    opacity: 1;
}

select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

}

textarea[disabled] {
    resize: none;
}

.borderless {
    border: none;
}

select.form-control {
    font-size: 14px !important;
}

</style>

