<template>
    <div class="col-md-12">
        <div class="">
            <div class="h2">Receive goods</div>
            <div class="col-md-12">
                <div class="row my-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="d-block mb-0 font-weight-bold">Select warehouse</label>
                                <div class="bg-whiterounded-lg div-focus border-2">
                                    <v-select
                                        :options="warehouseList"
                                        v-model="warehouseId"
                                        label="nickname"
                                    >
                                    </v-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="d-block mb-0 font-weight-bold">Scan barcode</label>
                                <div class="d-flex align-items-center">
                                    <div class="bg-white border rounded-lg div-focus border-2">
                                        <input type="text"
                                               autofocus="autofocus"
                                               autocomplete="none"
                                               class="form-control border-0  shadow-none form-input"
                                               placeholder="Scan..."
                                               ref="colli"
                                               @change="onScanBarcode($event)"
                                        >
                                    </div>
                                    <div>

                                    </div>
                                    <div v-if="scanCodeError!==''" class="scan alert alert-danger">
                                        <i>{{ scanCodeError }}</i>
                                    </div>
                                    <div v-if="scanCodeSuccess!==''" class="scan alert alert-success">
                                        <i>{{ scanCodeSuccess }}</i>
                                        <br/><br/>
                                        Client name: {{ colli.client.name }}<br/>
                                        Reference of booking: <span v-if="colli.booking!==null"> {{ colli.booking.reference }}</span>
                                        <br/>
                                        Colli number: {{ colli.colli }} / {{ colli.totalColliAmountByColliBatch }} <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex justify-content-end align-items-center">
                        <div class="btn-group float-right shadow-sm" role="group" aria-label="">
                            <a :href="`/receive-colli`"
                               class="btn btn-success float-right d-flex align-items-center receive-colli"
                               title="Receive colli">
                                <span class="material-icons-outlined cursor-pointer mr-1">download</span>
                                <span>Receive colli</span>
                            </a>

                            <a :href="`/create-barcode/${warehouseId.id}`"
                               class="btn btn-success float-right d-flex align-items-center"
                               title="Create colli">
                                <span class="material-icons-outlined cursor-pointer mr-1">post_add</span>
                                <span>Create colli</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-relative pagination-control" v-if="scanCodeSuccess!==''">
                <div class="pt-3">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="border-right text-left">ID</th>
                                <th class="border-right text-left">Client</th>
                                <th class="border-right text-left">Booking</th>
                                <th class="border-right text-left">Reference</th>
                                <th class="border-right text-left">Name</th>
                                <th class="border-right text-left">Delivery</th>
                                <th class="border-right text-left">Volume</th>
                                <th class="border-right text-left">Weight</th>
                                <th class="border-right text-left">Colli</th>
                            </tr>
                            </thead>
                            <tbody class="table-bordered">
                            <tr>
                                <td> {{ colli.id }}</td>
                                <td> {{ colli.client.name }}</td>
                                <td><span v-if="colli.booking!=null && colli.booking.id!=1"> #{{
                                        colli.booking.id
                                    }} </span></td>
                                <td> {{ colli.reference }}</td>
                                <td> {{ colli.name }}</td>
                                <td> {{ colli.created }}</td>
                                <td> {{ colli.volume }}</td>
                                <td> {{ colli.weight }}</td>
                                <td> {{ colli.colli }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import VueTimepicker from 'vue2-timepicker';
import 'vue2-timepicker/dist/VueTimepicker.css';
import 'vue-select/dist/vue-select.css';

export default {
    name: "ReceiveGoods",
    components: {DatePicker, VueTimepicker},
    data() {
        return {
            warehouseList: [
                {id: '', nickname: ''},
            ],
            warehouseId: {'id': 1, nickname: 'Brøndby'},
            isSubmit: false,
            colli: {},
            scanCodeError: '',
            scanCodeSuccess: '',
            code: ''
        }
    },
    methods: {
        onScanBarcode(event) {
            this.code = event.target.value;
            axios.get(`/scan-barcode/${event.target.value}/${this.warehouseId.id}`)
                .then(({data}) => {
                    if (data.message != null) {
                        this.scanCodeError = 'Colli could not be found';
                        this.scanCodeSuccess = '';
                        this.colli = {};
                    } else {
                        this.scanCodeError = '';
                        this.scanCodeSuccess = `Colli ${parseInt(this.code)} received`;
                        this.colli = data.data;
                        this.$refs.colli.value = '';
                        this.$nextTick(() => {
                            this.$refs.colli.focus();
                        });
                        //this.$refs.colli.$refs.search.focus();
                    }
                }).catch();
        },
        validation() {
            this.isSubmit = true;
        },
        fetchData() {
            axios.get('/warehouse-list')
                .then(({data}) => {
                    Object.entries(data).forEach(entry => {
                        const [key, value] = entry;
                        this.warehouseList.push({
                            id: value.id,
                            nickname: value.nickname,
                        });
                    });
                }).catch();
        },
    },
    created() {
        return this.fetchData()
    },
}
</script>
<style>
.scan-error {
    color: red;
}

.receive-colli {
    margin-right: 10px;
}

.scan {
    margin-top: 10px;
    margin-left: 10px;
}

</style>
