<template>
    <div class="col-md-12 flex-container">
        <div class="col-md-12">
            <div class="form-group">
                <div class="h2">Receive goods</div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="bg-whiterounded-lg div-focus border-2">
                                <v-select
                                    :options="warehouseList"
                                    v-model="warehouseId"
                                    label="nickname"
                                >
                                </v-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="d-flex align-items-center">
                                <div class="bg-white border rounded-lg div-focus border-2">
                                    <input type="text"
                                           autofocus="autofocus"
                                           autocomplete="none"
                                           class="form-control border-0 shadow-none form-input"
                                           placeholder="Scan..."
                                           ref="colli"
                                           @keyup="onScanBarcode($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="scanCodeError!==''" class="scan alert alert-danger">
                    <i>{{ scanCodeError }}</i>
                </div>

                <div v-if="scanCodeSuccess!==''" class="scan alert alert-success">
                    <i>{{ scanCodeSuccess }}</i>
                    <br/><br/>
                    Client name: {{ colli.client.name }}<br/>
                    Reference of booking: <span v-if="colli.booking!==null"> {{ colli.booking.reference }}</span> <br/>
                    Colli number: {{ colli.colli }} / {{ colli.totalColliAmountByColliBatch }} <br/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import VueTimepicker from 'vue2-timepicker';
import 'vue2-timepicker/dist/VueTimepicker.css';
import 'vue-select/dist/vue-select.css';

export default {
    name: "ReceiveGoods",
    components: {DatePicker, VueTimepicker},
    data() {
        return {
            warehouseList: [
                {id: '', nickname: ''},
            ],
            warehouseId: {'id': 1, nickname: 'Brøndby'},
            isSubmit: false,
            colli: {},
            scanCodeError: '',
            scanCodeSuccess: '',
            code: '',
            scanInProgress: false
        }
    },
    methods: {
        onScanBarcode(event) {
            this.code = event.target.value;
            if (event.target.value > 0) {
                if (this.scanInProgress === false) {
                    this.scanInProgress = true;
                    setTimeout(() => {
                        axios.get(`/scan-barcode/${event.target.value}/${this.warehouseId.id}`)
                            .then(({data}) => {
                                this.scanInProgress = false;
                                if (data.message === 'not found') {
                                    this.scanCodeError = 'Colli could not be found';
                                    this.scanCodeSuccess = '';
                                    this.colli = {};

                                    let audio = new Audio('/assets/beep-warning-6387.mp3');
                                    audio.play();
                                } else {
                                    this.scanCodeError = '';
                                    this.scanCodeSuccess = `Colli ${parseInt(this.code)} received`;
                                    this.colli = data.data;
                                    this.$refs.colli.value = '';
                                    //this.$refs.colli.$refs.search.focus();
                                }
                            }).catch();
                    }, 500);
                }
            }
        },
        validation() {
            this.isSubmit = true;
        },
        fetchData() {
            axios.get('/warehouse-list')
                .then(({data}) => {
                    Object.entries(data).forEach(entry => {
                        const [key, value] = entry;
                        this.warehouseList.push({
                            id: value.id,
                            nickname: value.nickname,
                        });
                    });
                }).catch();
        },
    },
    created() {
        return this.fetchData()
    },
}
</script>
<style>
.scan-error {
    color: red;
}

.scan {
    margin-top: 10px;
    margin-left: 10px;
}
</style>
