<template>
    <div class="col-md-12">
        <div class="h2 mb-3">Reporting</div>
        <div class="loader" v-if="loading"></div>
        <form @submit.prevent="exportBookings">
            <div class="container-fluid bg-light py-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4 mb-3 bg-white rounded-lg">
                            <div class="h4 mb-3">Accounting</div>
                            <div class="bg-light p-3">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <label><b>Start</b></label>
                                            <div class="form-group d-flex">
                                                <div
                                                    class="d-flex align-items-center bg-white border rounded-lg div-focus border-2 mr-3 flex-1"
                                                    :class="date_single_from==='' && isSubmit? 'border-danger':''">
                                                    <date-picker v-model="date_single_from" required
                                                                 valueType="YYYY-MM-DD"
                                                                 input-class="border-0 py-0 shadow-none form-input"
                                                                 placeholder="dd/mm/yyyy"
                                                                 format="DD/MM/YYYY"></date-picker>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <!--                                                <div
                                                                                                    class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                                                                                    :class="time_from==='' && isSubmit? 'border-danger':''">
                                                                                                    <vue-timepicker placeholder="" v-model="time_from"
                                                                                                                    input-class="border-0 py-0 shadow-none form-input"></vue-timepicker>
                                                                                                    <span
                                                                                                        class="material-icons-outlined  pr-2 text-primary">schedule</span>
                                                                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                                            <span class="h1 m-0">~</span>
                                        </div>
                                        <div class="col-md-5">
                                            <label><b>End</b></label> <br>
                                            <div class="form-group  d-flex">
                                                <div
                                                    class="d-flex align-items-center bg-white border rounded-lg div-focus border-2 mr-3 flex-1"
                                                    :class="date_single_to==='' && isSubmit? 'border-danger':''">
                                                    <date-picker v-model="date_single_to" valueType="YYYY-MM-DD"
                                                                 input-class="border-0 py-0 shadow-none form-input"
                                                                 placeholder="dd/mm/yyyy"
                                                                 format="DD/MM/YYYY"></date-picker>

                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <!--                                                <div-->
                                                <!--                                                    class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"-->
                                                <!--                                                    :class="time_to==='' && isSubmit? 'border-danger':''">-->
                                                <!--                                                    <vue-timepicker placeholder="" v-model="time_to"-->
                                                <!--                                                                    input-class="border-0 py-0 shadow-none form-input"></vue-timepicker>-->
                                                <!--                                                    <span-->
                                                <!--                                                        class="material-icons-outlined  pr-2 text-primary">schedule</span>-->
                                                <!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-group row">
                                        <div v-for="(item,index) in reportingColums" :key="index">
                                            <div class="col-md-12">
                                                <label class="newInput" :for="item.id">
                                                    {{ item.label }}
                                                    <input type="checkbox"
                                                           name="reportingIds"
                                                           :value="item.id"
                                                           :id="item.id"
                                                           v-model="item.checked"
                                                    >
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn mt-3 btn-primary" @click="validation();">
                                Run export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form @submit.prevent="exportDrivers">
            <div class="container-fluid bg-light py-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4 mb-3 bg-white rounded-lg">
                            <div class="h4 mb-3">Warehousing</div>
                            <div class="bg-light p-3">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label><b>Date</b></label>
                                            <div class="form-group">
                                                <div
                                                    class="d-flex align-items-center bg-white border rounded-lg div-focus border-2 mr-3 flex-1"
                                                    :class="trips.date==='' && isSubmitList? 'border-danger':''">
                                                    <date-picker
                                                        aria-required="true"
                                                        v-model="trips.date"
                                                        valueType="YYYY-MM-DD"
                                                        input-class="border-0 py-0 shadow-none form-input"
                                                        placeholder="dd/mm/yyyy"
                                                        format="DD/MM/YYYY"
                                                        v-on:input="getDrivers()"
                                                    >
                                                    </date-picker>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label><b>Driver</b></label>
                                                <div
                                                    class="d-flex align-items-center bg-white border rounded-lg div-focus border-2"
                                                    :class="trips.driver==='' && isSubmitList? 'border-danger':''">
                                                    <select
                                                        required
                                                        class="form-control border-0 py-0 shadow-none pr-5"
                                                        v-model="trips.driver">
                                                        <option value="0" selected>All</option>
                                                        <option value="1" selected>Unassigned</option>
                                                        <option v-for="item in drivers" v-bind:value="item.driver">
                                                            {{ item.driver }}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn mt-3 btn-primary" @click="validationList()">
                                Generate picklist
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</template>

<script>

import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import VueTimepicker from 'vue2-timepicker';
import 'vue2-timepicker/dist/VueTimepicker.css';

export default {
    name: "Settings",
    components: {DatePicker, VueTimepicker},
    data() {
        return {
            reportingColums: [
                {
                    id: 'id',
                    label: 'Booking Id',
                    checked: true,
                },
                {
                    id: 'client',
                    label: 'Client',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('client'),
                },
                {
                    id: 'agreement',
                    label: 'Agreement name',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('agreement'),
                },
                {
                    id: 'pickup_address',
                    label: 'Pickup address',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('pickup_address'),
                },
                {
                    id: 'pickup_date',
                    label: 'Pickup date',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('pickup_date'),
                },
                {
                    id: 'dropoff_address',
                    label: 'Dropoff address',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('dropoff_address'),
                },
                {
                    id: 'dropoff_date',
                    label: 'Dropoff date',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('dropoff_date'),
                },
                {
                    id: 'product',
                    label: 'Product',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('product'),
                },
                {
                    id: 'services',
                    label: 'Service',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('services'),
                },
                {
                    id: 'total_weight',
                    label: 'Total weight',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('total_weight'),
                },
                {
                    id: 'total_volume',
                    label: 'Total volume',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('total_volume'),
                },
                {
                    id: 'total_colli',
                    label: 'Total colli',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('total_colli'),
                },
                {
                    id: 'total_price',
                    label: 'Total price',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('total_price'),
                },
                {
                    id: 'note',
                    label: 'Note',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('note'),
                },
                {
                    id: 'reference',
                    label: 'Reference',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('reference'),
                },
                {
                    id: 'driver',
                    label: 'Driver',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('driver'),
                },
                {
                    id: 'internal_comment',
                    label: 'Internal comment',
                    checked: localStorage.getItem("reportingColumnsLocal") !== null && localStorage.getItem('reportingColumnsLocal').split(',').includes('internal_comment'),
                },
            ],
            reportIds: [],
            date_from: 0,
            date_to: 0,
            date_single_from: '',
            date_single_to: '',
            trips: {},
            loading: false,
            isSubmit: false,
            isSubmitList: false,
            drivers: {},
        }
    },
    methods: {
        fetchData() {
        },
        validation() {
            this.isSubmit = true;
        },
        validationList() {
            this.isSubmitList = true;
        },
        exportBookings() {
            if (this.date_single_from === '' || this.date_single_to === '') return false;
            this.date_from = this.date_single_from;
            this.date_to = this.date_single_to;
            localStorage.setItem('reportingColumnsLocal', this.reportingColums.filter(item => item.checked).map(name => name.id))

            axios({
                url: `/settings/export-booking/${this.date_from}/${this.date_to}`,
                method: 'POST',
                responseType: 'arraybuffer',
                data: this.reportingColums.filter(item => item.checked).map(name => name.id)
            }).then((response) => {
                var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                var fileLink = document.createElement('a');
                fileLink.href = fileURL;
                fileLink.setAttribute('download', `bookings_${Date.now()}.xlsx`);
                document.body.appendChild(fileLink);
                fileLink.click();
            }).catch((error) => {
                console.log(error)
            }).finally(() => {
                this.$Progress.finish()
            });


        },
        exportDrivers() {
            this.loading = true;
            let date = new Date();
            this.trips.documentCreatedAt = date.getFullYear()
                + '' + (date.getMonth() + 1).toLocaleString('en-US', {minimumIntegerDigits: 2})
                + '' + date.getDate().toLocaleString('en-US', {minimumIntegerDigits: 2})
                + '' + date.getHours().toLocaleString('en-US', {minimumIntegerDigits: 2})
                + '' + date.getMinutes().toLocaleString('en-US', {minimumIntegerDigits: 2})
                + '' + date.getSeconds().toLocaleString('en-US', {minimumIntegerDigits: 2})
            ;
            axios({
                url: `/settings/export-drivers`,
                method: 'POST',
                responseType: 'blob',
                data: this.trips
            }).then((response) => {
                var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                var fileLink = document.createElement('a');
                fileLink.href = fileURL;
                fileLink.setAttribute('download', `report_trips_${this.trips.documentCreatedAt}.pdf`);
                document.body.appendChild(fileLink);
                fileLink.click();

                //print colli labels that have no booking
                // axios({
                //     url: `/colli/print-labels?printByLastPrintedAsUnknown=true`,
                //     method: 'POST',
                //     responseType: 'blob',
                //     data: this.trips
                // }).then((response) => {
                //     if (response.data === Blob) {
                //         var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                //         var fileLink = document.createElement('a');
                //         fileLink.href = fileURL;
                //         fileLink.setAttribute('download', `print_label.pdf`);
                //         document.body.appendChild(fileLink);
                //         fileLink.click();
                //     }
                // }).catch((error) => {
                //     console.log(error)
                // }).finally(() => {
                // });

            }).catch((error) => {
                console.log(error)
            }).finally(() => {
                this.loading = false
            });
        },
        getDrivers: function () {
            axios.get(`/trip-drivers/${this.trips.date}`)
                .then(({data}) => {
                    this.drivers = data.drivers;
                }).catch();
        },
    },
    created() {
        this.fetchData();
        if (localStorage.getItem("reportingColumnsLocal") !== null) {
            this.reportingColumnsLocal = localStorage.getItem('reportingColumnsLocal').split(',');
        }
    }

}
</script>

<style>
.loader {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-image: url('/../assets/loading_big.gif');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
</style>
